{% extends 'base.html' %}
{% block content %}

<div class="p-4">
    <h1 class="font-bold">All Expenses</h1>
    
    <div class="flex flex-col gap-2 lg:w-2/3 mt-4">
        {% for expense in expenses %}
            <div class="grid lg:grid-cols-4 grid-cols-1 gap-2 border-2 border-gray-300 rounded-lg p-2 shadow-lg">
                <p>{{expense.dateTime}}</p>
                <p>{{expense.expenseType.name}}</p>
                <p>{{expense.amount}}</p>
                <p>{{expense.description}}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}